<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Makeup - {{ app.request.get('_route') }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="overlay-wrapper">

        <header class="masthead">
            <div class="header-bottom">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand visible-xs" href="./"><img src="" alt="Site Logo"></a>
                        </div>

                        <div id="main-menu" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                {% if app.user == null %}
                                    <li class="menu-item {% if app.request.get('_route') == 'makeup_homepage' %} menu-item-has-children active {% endif %}"><a href="app.php/">Productes</a></li>
                                    <li class="menu-item {% if app.request.get('_route') == 'login' %} menu-item-has-children active {% endif %}"><a href="login">Login</a></li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Idioma</a>
                                        <ul class="sub-menu children">
                                            <li><a href="lang/es">es</a></li>
                                            <li><a href="lang/en">en</a></li>
                                            <li><a href="lang/ca">ca</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    {% if is_granted('ROLE_USER') %}
                                        <li class="menu-item {% if app.request.get('_route') == 'makeup_homepage' %} menu-item-has-children active {% endif %}"><a href="app.php/">Productes</a></li>
                                        <li class="menu-item {% if app.request.get('_route') == 'makeup_treatments' %} menu-item-has-children active {% endif %}"><a href="treatments">Tractaments</a></li>
                                        <li class="menu-item {% if app.request.get('_route') == 'makeup_comments' %} menu-item-has-children active {% endif %}"><a href="comments">Comentaris</a></li>
                                        <li class="menu-item menu-item-has-children">
                                        <a href="#">Idioma</a>
                                        <ul class="sub-menu children">
                                            <li><a href="lang/es">es</a></li>
                                            <li><a href="lang/en">en</a></li>
                                            <li><a href="lang/ca">ca</a></li>
                                        </ul>
                                    </li>
                                        {% else %}
                                        <li class="menu-item {% if app.request.get('_route') == 'makeup_homepage' %} menu-item-has-children active {% endif %}"><a href="app.php/">Productes</a></li>
                                        <li class="menu-item {% if app.request.get('_route') == 'makeup_treatments' %} menu-item-has-children active {% endif %}"><a href="treatments">Tractaments</a></li>
                                        <li class="menu-item {% if app.request.get('_route') == 'makeup_comments' %} menu-item-has-children active {% endif %}"><a href="comments">Comentaris</a></li>
                                        <li class="menu-item {% if app.request.get('_route') == 'admin' %} menu-item-has-children active {% endif %}"><a href="admin">Admin</a></li>
                                        <li class="menu-item menu-item-has-children">
                                        <a href="#">Idioma</a>
                                        <ul class="sub-menu children">
                                            <li><a href="lang/es">es</a></li>
                                            <li><a href="lang/en">en</a></li>
                                            <li><a href="lang/ca">ca</a></li>
                                        </ul>
                                    </li>

                                    {% endif %}
                                    <li class="menu-item {% if app.request.get('_route') == 'logout' %} menu-item-has-children active {% endif %}"><a href="logout">Sortir</a></li>
                                    {% endif %}

                            </ul><!-- /.navbar-nav -->
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div><!-- /.container -->
            </div><!-- /.header-bottom -->
        </header><!-- /.masthead -->


    {% block body %}{% endblock %}
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            Copyright &copy; Roger 2018
        </div>
    </footer>
{% block javascripts %}{% endblock %}
</body>
</html>
